<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TeknoparrotAutoXinput.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TeknoparrotAutoXinput.Properties.Settings>
            <setting name="virtualKeyboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keyTest" serializeAs="String">
                <value />
            </setting>
            <setting name="keyService1" serializeAs="String">
                <value />
            </setting>
            <setting name="keyService2" serializeAs="String">
                <value />
            </setting>
            <setting name="showStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FFB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wheelXinputData" serializeAs="String">
                <value>Type=Wheel</value>
            </setting>
            <setting name="arcadeXinputData" serializeAs="String">
                <value>Type=ArcadeStick,Type=ArcadePad</value>
            </setting>
            <setting name="gamepadXinputData" serializeAs="String">
                <value>Type=Gamepad</value>
            </setting>
            <setting name="gamepadStooz" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wheelStooz" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableStoozZone_Gamepad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="valueStooz_Gamepad" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="enableStoozZone_Wheel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="valueStooz_Wheel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bindingDinputWheel" serializeAs="String">
                <value />
            </setting>
            <setting name="useDinputWheel" serializeAs="String">
                <value>False</value>
            </setting>
        </TeknoparrotAutoXinput.Properties.Settings>
    </userSettings>
</configuration>